* {
    margin: 0;
    padding: 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Nunito', sans-serif;
}

.hero {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(herorabbit.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: whitesmoke;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}

.main-nav li a:hover {
    color: burlywood;
    border-bottom: 2px solid burlywood;
    transition: all 0.5s ease-in;
    padding: 15px 0;
}

.logo img {
    height: 100px;
    float: left;
    margin-top: 30pxk;
}

.btn {
    border: 1px solid burlywood;
    padding: 10px 30px;
    color: burlywood;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
}

.button-awesome {
    margin-top: 50px;
}

.btn-half {
    background-color: burlywood;
    color: olive;
}

.btn-full:hover {
    background-color: burlywood;
    color: olive;
    transition: all 0.5s ease-in;
}

.copy {
    width: 70%;
    margin-left: 15%;
}